{% extends 'generic_list.html' %}
{% load static %}
{% block head_list %}
<!-- <script src="{% static '../category/js/list.js' %}"></script> -->
{% endblock %}

{% block columns %}
<tr>
    <th>#ID</th>
    <th style="width:35%">Pregunta</th>
    {% if request.user.username %}
    <th>Total</th>
    <th>Usuario</th>
    <th>Creado</th>
    {% else %}

    {% endif %}
    <th>Vence</th>
    <th>Tag</th>
    <th></th>
    {% if request.user.username %}
    <th></th>
    <th></th>
    <th></th>
    {% else %}
    {% endif %}
</tr>
{% endblock %}

{% block rows %}
{% for preg in object_list %}
<tr class="text-center">
    <td class="text-center">{{forloop.counter}}</td>
    <td class="text-left">{{ preg.pregunta }}</td>
    {% if request.user.username %}
    <td>{{ preg.total }}</td>
    <td>{% if preg.usuario %} {{preg.usuario}} {% else %} ---- {% endif %}</td>
    <td>{{preg.creado|date:'d/m/y'}}</td>
    {% else %}

    {% endif %}
    {% if preg.vencida %}
    <td class="text-danger font-weight-bold">{{ preg.vence|date:'d/m/y' }}</td>
    {% else %}
    <td class="text-success font-weight-bold">{{ preg.vence|date:'d/m/y' }}</td>
    {% endif %}
    <td>{% if preg.tag %} {{ preg.tag }} {% else %} ---- {% endif %}</td>
    {% if preg.vencida %}
    <td>
        <a href="#" class="btn btn-light btn-sm text-dark border-dark" readonly>
            <i class="fas fa-spell-check"></i></a>
    </td>
    {% else %}
    <td>
        <a href="{% url 'encuesta:responde-pregunta' preg.id %}" class="btn btn-primary btn-sm">
            <i class="fas fa-spell-check"></i></a>
    </td>
    {% endif %}
    {% if request.user.username %}
    <td><a href="{% url 'encuesta:modifica-pregunta' preg.id %}" class="btn btn-warning btn-sm"><i
                class="fas fa-edit"></i></a></td>
    <td><a href="{% url 'encuesta:resultado-pregunta' preg.id %}" class="btn btn-secondary btn-sm"><i
                class="fas fa-poll"></i></a></td>
    <td>
        <a href="#" onclick="modal_generic('{% url 'encuesta:borra-pregunta' preg.id %}')" class="btn btn-danger btn-sm"
            role="button" aria-pressed="true"><i class="fas fa-trash-alt"></i></a>
    </td>
    {% else %}

    {% endif %}
</tr>
{% endfor %}
{% endblock %}

{% block buttons_list %}
<a href="#" onclick="modal_generic('{% url 'encuesta:nueva-pregunta' %}')" class="btn btn-primary btn-sm btn-flat btnTest"
    role="button" aria-pressed="true">
    <i class="fas fa-plus"></i> Nueva Encuesta
</a>

{% endblock %}
