{% extends 'body.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet"
      href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
<script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

{% block head_list %}

{% endblock %}

{% endblock %}

{% block content %}

{% block main %}
<form method="POST">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
                <h3 class="panel-title mt-4 mb-4">Responder Encuesta</h3>
            </div>
            <div class="col-12 col-md-4 text-right mt-4 mb-4">
                <button type="submit" class="btn btn-success btn-md">Guardar</button>
            </div>
        </div>
    </div>
    <div class="container">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <label style="font-weight: 700;">Pregunta</label>
                <span class="form-control" readonly>
                    <h5>{{ encuesta.pregunta }}</h5>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            {% for op in opciones %}
            <label style="font-weight: 700; font-size: 0.8rem">Opción Nro.{{forloop.counter}}</label>
            <span class="form-control" readonly>{{op.titulo}}</span>
            {% endfor %}
        </div>
        <hr>
        <div class="col-lg-6 mt-4">
            <label><strong class="text-primary">Seleccione su opcion</strong></label>
            {{form.opcion}}
        </div>
    </div>
</form>
{% endblock %}

{% endblock %}