.tabla-listado{
    max-height: 450px;
    overflow-y: auto;
}

.table thead th{
background: #f5f5f5;
  text-align: center;
  padding: 10px 15px;
  top: 0px;
  position: sticky;
  z-index: 1;
  border-top: 2px ;
  }